<iframe class="background" src="https://heartss.netlify.com"></iframe>

<div class="container">
    <div class="textContainer">
      <div class="wellText1">Jiayou!</div>
      <div class="wellText">Give u some food motivation!</div>
    </div>
    <div class="ml4">
      <span class="letters letters-1"><img class="pictureSize" src="../assets/bag.png"></span>
      <span class="letters letters-2"><img class="pictureSize" src="../assets/cake.png"></span>
      <span class="letters letters-3"><img class="pictureSize" src="../assets/croissant.svg"></span>
      <span class="letters letters-4"><img class="pictureSize" src="../assets/donut.png"></span>
      <span class="letters letters-5"><img class="pictureSize" src="../assets/milk.png"></span>
      <span class="letters letters-6"><img class="pictureSize" src="../assets/chocolate.png"></span>
      <span class="letters letters-7"><img class="pictureSize" src="../assets/cookie.png"></span>
      <span class="letters letters-8"><img class="pictureSize" src="../assets/groceries.png"></span>
    </div>
</div>